*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #4F6BEB;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

button, a{
    outline: none;
}

html::-webkit-scrollbar{
    display: none;
}
